{% extends "base.html.twig" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Card name</th>
                <th>Type</th>
                <th>Attribute</th>
                <th>Card collection code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dark Magician</td>
                <td>Spellcaster</td>
                <td>Dark</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td>Blue-Eyes White Dragon</td>
                <td>Dragon</td>
                <td>Light</td>
                <td>Unknown</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
